<nb-layout>
  <nb-layout-header fixed>
  <!-- Insert header here -->
  <h6 >CodebyGaurav (DevG) : Tic-Tac-Toe Game</h6>
  </nb-layout-header>

  <nb-layout-column>

    <app-board></app-board>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  <p style="font: message-box;">Developed by : <a href="https://codebygaurav.netlify.app/" target="_blank" rel="noopener noreferrer">(CodebyGaurav) https://codebygaurav.netlify.app/ </a></p>

</nb-layout-footer>

</nb-layout>
